
*{
	margin: 0;
	padding: 0;
  font-family: 'JejuMyeongjo';
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: auto;
  background-color: #F50D25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.logo{
    padding: 15px;
    height: 75px;
    width: auto;
}
#TITULO {
    margin-top: 70px;
    text-align: center;
    color: #dd1b1b;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.rojo,.rojo1{
    position:absolute;
    background-color: #dd1b1b;
    width: 50px;
    height: 784px;
    margin-left: -20px;
    margin-top: -20px;
}
.rojo1{
    height: 350px;
    margin-left: 0px;
    margin-top: 0;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 75px;
}
.G1 {
    margin-bottom: 16px;
}
input, select {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 75px;
}
#BC, #ConB,#ini{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
}
#BC {
    background-color: #ccc;
    margin-left: 100px;
}
#ConB,#ini {
    background-color: #dd1b1b;
}
#ini{
    margin-top: -20px;
    margin-left: 180px;
    font-size: 20px;
}
#ft{
    color: white ; 
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  }
  .agendar{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    width: 500px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  p{
  color: #6f6767;
  text-align: center;
  font-size: 25px;
  padding: 100px;
  width: 350px;
  }

footer{
    background-color: #F50D25; 
    width: 100%;
    }
 @media screen and (max-width: 320px){
    .agendar{
        margin-left: 0px;
        width: 300px;
        height: 200px;
        
    }
    p{
        font-size:10px;
        width: 120px;
        padding-top: 80px;
        }
        #ini{
            position: absolute;
            width: 100px;
            margin-top: -80px;
            margin-left: 110px;
            font-size: 8px;
            height: 30px;
        }
        .rojo1{
            height: 200px;
            margin-left: 0px;
            margin-top: 0;
        }
        footer{
            margin-top: 170px;
        }
 }

  