
*{
	margin: 0;
	padding: 0;
  font-family: 'JejuMyeongjo';
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: auto;
  background-color: #F50D25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  position:fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}
.logo{
    padding: 15px;
    height: 100px;
    width: auto;
}
.c{
text-decoration: none;
color: white;
margin-left: 45px;
font-size: 30px;
padding: 7px 10px; 
transition: color 0.3s;
}
.c:hover {
  border-radius: 10px;
  background-color:white;
  color:#F50D25; 
}
.ci{
    text-decoration: none;
    text-align: center;
    padding: 4%;
    background-color: #fff;
    color: #F50D25;
    font-size: 26px;
  }

.ip {
    position: relative; 
   margin-top: 15%;
    height: auto;
    width: 100%;
    max-width: 100%; 
}
.text {
position: absolute;
left: 50%;
top: 79%;
transform: translate(-50%, -50%);
font-style: normal;
font-size: 4vw;
color: #FFFFFF;
mix-blend-mode: overlay;
}
.t1,.t2,.t3{
    text-align: center;
    color: #F50D25; 
    font-size: 70px;
    margin-top: 15px;
    font-weight: 300;
  }

.t2,.t3{
    font-size: 20px;
    word-spacing: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: #6B676C;
}
.carousel {
    position: relative;
    width: 1000px; 
    margin:  auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .image {
    flex: 0 0 calc(33.33% - 10px); 
    margin-right:0px; 
  }
  
  .image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
  }
  p {
    text-align: center;
    color:  #6B676C ; 
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
    font-style: normal;
  }
  
  button {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #F50D25;
    font-size: 40px;
  }
  .prev {
    left: -20px;
   transform: rotate(180deg);
  }
  .next {
    right: 0;
    top: 35%;
  }
  .contenedor1,.contenedor2{
    width: 100%;
  }
  #te11{
    color: #F50D25; 
    font-size: 25px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
}
.acerca{
  display: flex;
  justify-content: space-around;
  padding-top:70px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}
.horario,.direcion{
  text-align: center;
  width: 250px;
}
.iconos{
  width: 280px;
}
.icono{
  padding-top: 30px;
  width: 60px;
}
#ft{
  color: white ; 
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
  footer{
  background-color: #F50D25; 
  width: 100%;
  }
  
 /*ESTILOS DE SERVICIOS*/
.imgser {
position: absolute;
width: 18rem;
height: 25rem;
margin-top:27%;
margin-left:30%;
}

.div-rojo {
position: relative;
width: 20rem;
height: 35rem;
background: #B91C1C;
top:100px;
}

.text-box{
  position: relative;
  width: 40%;
  height: 40%; 
  margin-top: -13cm;
  float: right;
}

.TS,.txsc{
  position: relative;
  top: 100px;
  padding: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  left: -230px;
  color: #DC1F1F;
}
.txsc{
  left: 0%;
  text-align: center;
}
.txS{
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  left:-200px ; 
  color: #6B676C;
}
#te{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #F50D25;
  }

  /*ESTILOS DEL BLOG */
#BE{
  position: relative;
	background-color: #b32121;
  width: 100%;
  height: 120px;
  top: 116px;
	display: block;
	text-align: center;
	font-size: 75px;
	color: #fff;
  line-height: 160px;
}
.contblog{
  display: flex;
  flex-wrap: wrap;
}
#A1, #A2, #A3 {
	width: 24%;
	margin: 25px;
  margin-top: 175px;
	margin-left: 80px;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
#B1, #B2, #B3 {
	width: 24%;
	margin: 25px;
	margin-left: 80px;
	margin-right: 1px;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.imagenes{
  width: 313px;
  height: 200px;
}
h3,.h1{
  color: #F50D25;
}

#D1, #D2 {
	width: 315px;
	margin: 25px;
	margin-left: 80px;
	margin-right: 1px;
	display: inline-block;
	text-align: center;
}

  @media screen and (max-width: 320px){
    header{
      height: 75px;
    }
    .logo{
      width: 50px;
      height: 50px;
    }
    .ip {
     margin-top: 30%;
      
  }
    .c{
      font-size: 7px;
      padding: 5px 7px; 
    
      }
      .ci{
        padding: 9.2%;
        font-size: 7px;
      }
    .text {
      left: 50%;
      top: 33%;
    }
    .t1,.t2,.t3{
      font-size: 40px;
      margin-top:5px;
    }
  
  .t2,.t3{
    margin-top: -10px;
      font-size: 10px;
      padding-left: 50px;
      padding-right: 50px;
  }

      .carousel {
          width: 200px; 
          }        
          .image img {
            width: 40px;
            height: 40px;
            margin: 13px;
          }
      
        p {
          font-size: 10px;
          margin-top: 10px;
        }
        button {
          top: 11%;
           padding: 10px 3px;
           font-size: 10px;
         }
         .next{
           top: 20%;
         }
         .prev{
          left: -5px;
         }
        #te11{ 
          font-size: 9.5px;
         }
      .iconos{
        width: 100px;
      }
      .icono{
        width: 10px;
      }


      /*SERVICIOS*/
      .imgser {
      width: 8rem;
      height: 11rem;
      margin-top:30%;
      margin-left:13%;
      }
      .div-rojo {
      width: 35%;
      height: 15rem;
      top:70px;
      }
        .TS,.txsc{
        top:275px;
        font-size: 12px;
        left: -40px;
      }
      .txsc{
        top: 80px;
        left: 5px;
      }
      .txS{
        font-size: 10px;
        top:190px;
        left:30px; 
      }
      #te{
        font-size: 8px;
      }
      
        /*BLOG */
      #BE{
        margin-top: -14px;
        font-size: 45px;
        height: 100px;
        line-height: 150px;
      }
      .imagenes{
        width: 100%;
        height: 130px;
      }  

  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    header{
      height: 120px;
    }
    .ip {
     margin-top: 28%;
      
  }
    .c{
      font-size: 12px;
      padding: 5px 7px; 
    
      }
      .ci{
        padding: 8.5%;
        font-size: 12px;
      }
    .text {
      left: 50%;
      top: 52%;
    }

      .carousel {
          width: 500px; 
          }        
          .image img {
            width: 95px;
            height: 95px;
          }
      
        p {
          font-size: 15px;
          margin-top: 10px;
        }
        button {
         top: 17%;
          padding: 10px 18px;
          font-size: 20px;
        }
        .next{
          top: 25%;
        }
        #te11{ 
          font-size: 20px;
         }
      .iconos{
        width: 200px;
      }
      .icono{
        width: 35px;
      }

      /*SERVICIOS*/
      .imgser {
      width: 15rem;
      height: 20rem;
      margin-top:30%;
      margin-left:20%;
      }
      .div-rojo {
      width: 40%;
      height: 30rem;
      top:90px;
      }
        .TS,.txsc{
        top: 100px;
        font-size: 30px;
        left: -50px;
      }
      .txsc{
        text-align: center;
        left: 20px;
      }
      .txS{
        font-size: 24px;
        left:-5px; 
      }
      #te{
        font-size: 20px;
      }
      
        /*BLOG */
      #BE{
        margin-top: -14px;
        font-size: 45px;
        height: 100px;
        line-height: 150px;
      }
      .imagenes{
        width: 100%;
        height: 130px;
      }
      #A1, #A2, #A3 {
      margin-left: 25px;
     
      }
      #B1, #B2, #B3 {
        margin-left: 25px;
      }
     
    }
      
 
  @media screen and (min-width: 769px) and (max-width: 1279px) {
    header{
      height: 120px;
    }
    .ip {
      margin-top: 19%;
       
   }
     .c{
       font-size: 20px;
     
       }
       .ci{
         padding: 6%;
         font-size: 20px;
       }
     .text {
       left: 50%;
       top: 63%;
     }
 
       .carousel {
           width: 500px; 
           }        
           .image img {
             width: 95px;
             height: 95px;
           }
       
         p {
           font-size: 15px;
           margin-top: 10px;
         }
         button {
          top: 17%;
           padding: 10px 18px;
           font-size: 20px;
         }
         .next{
           top: 25%;
         }
         #te11{ 
           font-size: 20px;
          }
       .iconos{
         width: 200px;
       }
       .icono{
         width: 35px;
       }
 
       /*SERVICIOS*/
       .imgser {
       width: 17rem;
       height: 20rem;
       margin-top:30%;
       margin-left:30%;
       }
       .div-rojo {
       width: 35%;
       height: 30rem;
       top:90px;
       }
         .TS,.txsc{
         top: 100px;
         font-size: 30px;
         left: -75px;
       }
       .txsc{
         text-align: center;
         left: 20px;
       }
       .txS{
         font-size: 24px;
         left: -55px; 
       }
       #te{
         font-size: 20px;
       }
       
         /*BLOG */
       #BE{
        margin-top: -14px;
         font-size: 45px;
         height: 100px;
         line-height: 150px;
       }
       .imagenes{
         width: 100%;
         height: 200px;
       }
       #A1, #A2, #A3 {
        margin-top: 250px;
       margin-left: 50px;
       width: 300px;
       height: 400px;
       }
       #B1, #B2, #B3 {
        margin-top: 200px;
         margin-left:50px;
         width: 300px;
         height: 400px;
       }
      

  }


 
 
 

  

