
*{
	margin: 0;
	padding: 0;
  font-family: 'JejuMyeongjo';
}
body {
    margin: 0;
    padding: 0;
  }
header {
    display: flex;
    height: auto;
    background-color: #F50D25;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    position:fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
  }
  .logo{
      padding: 15px;
      height: 100px;
      width: auto;
  }
  .c{
  text-decoration: none;
  color: white;
  margin-left: 45px;
  font-size: 30px;
  padding: 7px 10px; 
  transition: color 0.3s;
  }
  .c:hover {
    border-radius: 10px;
    background-color:white;
    color:#F50D25; 
  }
  .ci{
      text-decoration: none;
      text-align: center;
      padding: 4%;
      background-color: #fff;
      color: #F50D25;
      font-size: 26px;
    }
    #te11,#te1{
        color: #F50D25; 
        font-size: 25px;
        margin-top: 10px;
        font-style: normal;
        font-weight: 300;
    }
    .acerca{
      display: flex;
      justify-content: space-around;
      padding-top:70px;
      padding-bottom: 50px;
      width: 100%;
      height: auto;
    }
    .horario,.direcion{
      text-align: center;
      width: 250px;
    }
    .iconos{
      width: 280px;
    }
    .icono{
      padding-top: 30px;
      width: 60px;
    }
    #ft{
      color: white ; 
      font-size: 40px;
      font-weight: 300;
      font-style: normal;
      text-align: center;
    }
      footer{
      background-color: #F50D25; 
      width: 100%;
    }
    p {
        text-align: center;
        color:  #6B676C ; 
        font-size: 20px;
        margin-top: 10px;
        font-weight: 300;
        font-style: normal;
      }
      
      .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
    }
    
    .imagen{
        text-align: center;
        margin: 20px;
        margin-top: 150px;
    }
    .imagen2{
      text-align: center;
      margin: 20px;
      margin-top: 50px;
  }
    .circular{
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 25px;
    }
    #red{
      color: #F50D25;
      font-size: 30px;
    }
    .linea{
    width: 90%;
    height:2px;
    background-color: grey;
    margin: 20px 0;
    }
    .botonred{
      margin: 10px;
      background-color: #F50D25;
      color:white;
      font-size: 20px;
      border: 0;
      border-radius: 10px;
      width: 150px;
      height: 30px;
    }
    #te1{
      margin-left: 100px;
    }
    @media screen and (max-width: 320px){
      header{
        height: 75px;
      }
      .logo{
        width: 50px;
        height: 50px;
      }
      .ip {
       margin-top: 30%;
        
    }
      .c{
        font-size: 7px;
        padding: 5px 7px; 
      
        }
        .ci{
          padding: 9.2%;
          font-size: 7px;
        }
    #te11,#te1{ 
      font-size: 9.5px;
     }
  .iconos{
    width: 100px;
  }
  .icono{
    width: 10px;
  }
  p {
    font-size: 15px;
    margin-top: 10px;
  }
  
    }
  
  
    @media screen and (min-width: 321px) and (max-width: 768px) {
      header{
        height: 120px;
      }
      .ip {
       margin-top: 28%;
        
    }
      .c{
        font-size: 12px;
        padding: 5px 7px; 
      
        }
        .ci{
          padding: 8.5%;
          font-size: 12px;
        }
      #te11,#te1{ 
        font-size: 9.5px;
       }
    .iconos{
      width: 100px;
    }
    .icono{
      width: 10px;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
    }
  
      }
        
   
    @media screen and (min-width: 769px) and (max-width: 1279px) {
      header{
        height: 120px;
      }
      .ip {
        margin-top: 19%;
         
     }
       .c{
         font-size: 20px;
       
         }
         .ci{
           padding: 6%;
           font-size: 20px;
         }
         #te11,#te1{ 
          font-size: 9.5px;
         }
      .iconos{
        width: 100px;
      }
      .icono{
        width: 10px;
      }
      p {
        font-size: 15px;
        margin-top: 10px;
      }
    }
  
  