
*{
	margin: 0;
	padding: 0;
}
header {
    display: flex;
    height: auto;
    background-color: #F50D25;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    position:fixed;
    justify-content: space-between;
    width: 100%; 
    max-width: 100%; 
    top: -10px;
    z-index: 1000;
}

.logo{
    align-items: center;
    padding: 15px;
    height: 100px;
    width: auto;
}
div .c{
text-decoration: none;
text-align: right;
color: white;
margin-left: 45px;
font-size: 30px;
padding: 5px 10px; 
transition: color 0.3s;
}
.c:hover {
  border-radius: 10px;
  background-color:white;
  color:#F50D25; 
}
.ac{
    background-color: #ffffff;
    color: #F50D25; 
    padding: 49px 25px; 
    border-radius: 0px;
    cursor: pointer; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.ci{
    text-decoration: none;
    color: #F50D25;
    font-size: 30px;
  
}

.ip {
    position: relative; 
    padding-top: 60px;
    height: auto;
    width: 1290px;
    max-width: 100%; 
}

.text {
position: absolute;
left: 50%;
top: 79%;
transform: translate(-50%, -50%);
padding: 10px; 
font-family: 'JejuMyeongjo';
font-style: normal;
font-size: 4vw;
color: #FFFFFF;
mix-blend-mode: overlay;

}

.t1,.t11{
    text-align: center;
    color: #F50D25; 
    font-size: 70px;
    margin-top: 10px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 300;
    font-style: normal;
  }
  .t11{
    margin-top: 150px;
    font-size:40px ;
  }

.t2{
    text-align: center;
    max-width: 1000px;
    font-size: 20px;
    word-spacing: 10px;
    margin: 0 auto;
    color: #6B676C;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 300;

}
.t3{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    word-spacing: 10px;
    margin: 0 auto;
    color: #6B676C;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 300;
}
.contenedor {
    text-align: center;
}

.carousel {
    position: relative;
    width: 700px; 
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .image {
    flex: 0 0 calc(33.33% - 10px); 
    margin-right: 15px; 
  }
  
  .image:last-child {
    margin-right: 0; 
  }
  
  .image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
  }
  
  p {
    text-align: center;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  #te11{
    color: #F50D25; 
    font-size: 25px;
    margin-top: 10px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 300;
    font-style: normal;
}
p{
    color:  #6B676C ; 
    font-size: 15px;
    margin-top: 10px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 300;
    font-style: normal;

}
.horarios {
    padding: 5px;
    width: 250px;
    float: left;
  }
  
  footer {
  background-color: #F50D25;
  padding-top: 0.5px; 
  margin-top: auto;
  }
  #ft{
    color: white ; 
    font-size: 25px;
    margin-top: 10px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    max-width: 100%;
  }
  
  .social-icons {
    margin-bottom: 1cm; 
  }
  
  .icon {
    width: 25px; 
    height: 25px; 
    text-align: right;
    padding: 0.6cm;
  }
  
  .horarios {
    padding: 10px;
    width: 250px;
    left: right;
  }

  .spacer {
    margin-bottom: 2.5cm; 
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* Reglas pajina servicios */
 .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 100%; 
}
.imgser {
position: relative;
width: 50%;
height: 50%;
margin-top:-18cm;
margin-left:-25%;

}

.div-rojo {
position: relative;
width: 25%;
height: 700px;
background: #B91C1C
}

.text-box{
  position: relative;
  width: 40%;
  height: 40%; 
  max-width: 100%;
  margin-top: -13cm;
  float: right; 
}

.TS,.txsc{
  position: relative;
  text-align: center;
  padding: 30px;
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  max-width: 100%; 
  color: #DC1F1F;
}
.txS{
  position: relative;
  width: 688px;
  height: 96px;
 font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  max-width: 100%; 
  color: #6B676C;
}
#te{
  width: 213px;
  height: 80px;
  left: 160px;
  top: 1417px;
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  }
  /*Estilo agendar cita*/
  .dr, .dr1 {
    position: relative;
    width: 30%; /* Utilizar el 50% del ancho del contenedor padre */
    height: 500px;
    left: -10%; /* Centrar horizontalmente */
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 20px auto; /* Auto para centrar verticalmente */
    max-width: 100%;
}

.dr1 {
    background-color: #F50D25;
    left: 20%; /* Centrar horizontalmente */
    top: -500px;
}

.fecha-input {
  padding: 10px;
  font-size: 16px;
}

/* Cambiar el color de fondo del calendario */
.ui-datepicker {
  background-color:#F50D25;
}

/* Cambiar el color de fondo de los días del calendario */
.ui-datepicker-calendar .ui-state-default {
  background-color:#F50D25; /* Color de fondo de los días */
  color:  white; /* Color de texto de los días */
    border: none; /* Quita el borde alrededor de los números */
}


/* Cambiar el color del texto de los días seleccionados */
.ui-datepicker-calendar .ui-state-active {
  background-color:#B91C1C; /* Color de fondo de los días seleccionados */
  color: #fff; /* Color de texto de los días seleccionados */
}

/* Cambiar el color de fondo del título del calendario */
.ui-datepicker-title {
  background-color: #B91C1C; /* Color de fondo del título del calendario */
  color:#FFFFFF; /* Color de texto del título del calendario */
}
.ui-datepicker-close {
  display: none; /* Aquí se oculta el botón "Cerrar" */
}
.ui-datepicker-current {
  display: none; /* Aquí se oculta el enlace "Hoy" */
}

.ui-widget-header {
  border: 0;
  background:0;
  color: #333333;
  font-weight: bold;
}
.ui-widget.ui-widget-content {
  border: 0px;
}


#calendario-container {
  width:40px; /* Ancho del calendario */
  height: 30px; /* Altura del calendario */
 align-items: center;
 margin-left: 60px; /* Centrar horizontalmente */
}

.ui-datepicker-title {
  background-color:#F50D25;
}

.ui-widget-content {
  color: white;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  color: #F50D25;
}

.textoS{
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 2.5vb;
  font-family: 'JejuMyeongjo';
}

.tR{
text-align: center;
font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 500px;
color: #000000;


}

/*BOTONES HORA*/





  @media screen and (max-width: 768px) {
    .footer {
      padding: 10px; 
    }
  
    .icon img {
      width: 25px; 
      height: 25px;
    }
  }

 .carousel-images carousel-item img {
    max-height: 200px;
  }
  .c{
    flex-direction: column;
    align-items: flex-start;
  }

  .c {
    margin: 10px 0;
  }

  .div-rojo{
height: 700px;
  }
  
 



